.hide {
    display: none;
}
.clearfix:after{
    display:block;
    clear:both;
    content:'';
}

.grid-container {
    width : 100%;
}

.row:before, 
.row:after {
    content:"";
    display: table ;
    clear:both;
}

[class*='col-'] {
    float: left;
    min-height: 1px; 
    width: 50%; 
}

.col-4of5 {
    width: 100%; 
}

.col-1of4 {
    width: 100%;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.col-9of10 {
    width: 70%;
}

.col-1of10 {
    width: 10%;
}

.col-2of5 {
    max-width: 47.5%;
}

.logo {
    max-height: 40px;
}


#smaller {
    max-width:30%;
}

#log-in-button, #sign-up-button {
    margin: 10px 10px 0px 10px;
    max-width: 90%;
}

#sign-up-button {
    margin-bottom: 10px;
}

#login-link {
    margin: 20px 8px 0px 0px;
    z-index: -1;
}

@media only screen and (min-width: 500px) {
    [class*='col-'] {
        min-height: 1px; 
        width: 100%; 
    }

    input[type=text], input[type=password] {
        font-size: 15px;
        max-width: 89%;
        margin: 10px 0px;
    }


    #log-in {
        margin:20px auto;
        background-color: rgba(255, 255, 255, 0);
    }
    #log-in-form {
        max-width: 200px;
        margin:20px auto;
        background-color: rgba(255, 255, 255, 0);

    }

    .login-title {
        font-size: 20px;
    }

    button, #playlist-insert {
        font-size: 15px;
    }

    .clearfix:after{
        display:block;
        clear:both;
        content:'';
    }
    .col-2of5 {
        width:200px;
    }
    #smaller {
        max-width: 50%;
    }
    
    header {
        max-height: 50px;
        height: 100%;
    }
    
    a {
        font-size: 19px;
    }

    p {
        font-size: 17px;
    }

    h1 {
        font-size: 50px;
    }

    .logo {
        max-height: 40px;
    }

    a {
        font-size: 20px;
    }
    
    #login-link {
        margin: 20px 5px 0px 0px;
    }

    .section-title {
        font-size: 20px;
    }

    .col-5of5{
        width: 100%; 
        height: 100px;
        line-height: 100px;
    }

    .col-1of4{
        width: 20%; 
        margin: 30px 30px;
    }

    .col-4of5{
        width: 100%; 
    }
}