.hide {
    display: none;
}
.clearfix:after{
    display:block;
    clear:both;
    content:'';
}

.grid-container {
    width : 100%;
}

.row:before, 
.row:after {
    content:"";
    display: table ;
    clear:both;
}

[class*='col-'] {
    float: left;
    min-height: 1px; 
    width: 50%; 
}

.col-4of5 {
    width: 100%; 
}

.col-1of5 {
    width: 100%;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.col-9of10 {
    width: 90%;
}

.col-1of10 {
    width: 10%;
}

.col-2of5 {
    width: 47.5%;
}

@media only screen and (min-width: 500px) {
    [class*='col-'] {
        float: left;
        min-height: 1px; 
        width: 100%; 
    }
    
    h1 {
        font-size: 30px;
    }

    a {
        font-size: 10px;
    }

    .section-title {
        font-size: 20px;
    }

    .col-5of5{
        width: 100%; 
        height: 100px;
        line-height: 100px;
    }

    .col-1of5{
        width: 25%; 
    }

    .col-4of5{
        width: 75%; 
    }
}