.section-title {
    font-size: 4vw;
}

.half-size-input {
    width: 40%;
}

.logo {
    max-width: 10vw;
    margin: 0px 0px;
    display: inline-block;
}

.header {
    max-height: 50px;
}

#all-content {
    margin-top: 5px;
}

.section-title {
    font-family: 'Yantramanav', sans-serif;
    background-color: rgba(137, 17, 167, 0.342);
    margin: 4px 0px 4px 0px;
    padding-left: 9px;
}

#music-selection, #video-selection, #playlist-preview, #sound-selection {
    background-color: rgba(128, 128, 128, 0.459);
    max-height: 250px;
    overflow-y: auto;
}

.playlist-selections {
    background-color: rgba(128, 128, 128, 0.459);
}

.custom-opts {
    background-color: rgba(72, 72, 72, 0.459);
    margin: 4px 0px 4px 0px;
    padding-left: 9px;
}

.login-title {
    font-family: 'Yantramanav', sans-serif;
    background-color: rgba(137, 17, 167, 0.342);
    margin: 4px 0px 4px 0px;
    padding: 9px 0px 3px 7px;
    font-size: 6vw;
}

.strike {
    text-decoration: line-through;
}